<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://www.owenmhoffman.com/#owen-hoffman",
  "name": "Owen Hoffman",
  "alternateName": ["Owen Hoffman", "Owen M Hoffman"],
  "url": "https://www.owenmhoffman.com/",
  "sameAs": [
    "https://github.com/owen-hoffman40",
    "https://www.linkedin.com/in/owenhoffman40/",
    "https://orcid.org/0009-0001-7204-784X",
    "https://scholar.google.com/citations?user=CSfxU7EAAAAJ"
  ]
}
</script>
